:root {
  --clr-brown: #8e4200;
  --clr-dark-orange: #db6f02;
  --clr-orange: #ff9624;
  --clr-gold: #ffb825;
  --clr-peach: #ffd69c;
}

body {
  margin: 0;
  padding: 0;
}

section {
  margin-top: 5rem;
}

/* NAVBAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  
}

.nav-links {
  display: flex;
  flex: 1 1 auto;
  max-width: 400px;
  justify-content: space-around;
  list-style: none;
}

.nav-link a {
  text-decoration: none;
  color: inherit;
}

/* HERO */

.hero-container {
  background-color: var(--clr-peach);
  font-size: 2rem;
  padding: 3rem 2rem;
}

.hero-container button {
  padding: 1rem 1.5rem;
  border: none;
  background-color: var(--clr-gold);
  font-weight: 600;
  border-radius: 5px;
  font-size: 1rem
}

/* FEATURED PRODUCTS */

.featured-products {
  padding: 0 2rem;
}

.featured-products h1 {
  text-align: center;
}

.products-container {
  display: flex;
  justify-content: space-between;
  
}

.product-details {
  display: flex;
  justify-content: space-between;  
}

.product-preview img {
  width: 300px;
}

.featured-products button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--clr-gold);
  font-weight: 600;
  border-radius: 5px;
  font-size: 1rem;
  float: right;
}

/* WHY US SECTION */

.why-us-section {
  background-color: var(--clr-gold);
}

.why-us-card {
  display: flex;
  padding-top: 1rem;
}

.why-us-card * {
  margin: 2rem;
}

.why-us-card:nth-of-type(even) {
  flex-direction: row-reverse;
}

.why-us-section h1 {
  text-align: center;
  font-size: 2rem;
  padding-top: 2rem;
}

.why-us-section h3 {
  font-size: 2rem;
  
}

.why-us-section p {
  font-size: 1.25rem;
  
}

.why-us-img {
  width: 400px;
}