:root {
  --clr-brown: #8e4200;
  --clr-dark-orange: #db6f02;
  --clr-orange: #ff9624;
  --clr-gold: #ffb825;
  --clr-peach: #ffd69c;
}

body {
  margin: 0;
  padding: 0;
}

/* NAVBAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  
}

.nav-links {
  display: flex;
  flex: 1 1 auto;
  max-width: 400px;
  justify-content: space-around;
  list-style: none;
}

.nav-link a {
  text-decoration: none;
  color: inherit;
}

/* HERO */

.hero-container {
  background-color: var(--clr-gold);
  font-size: 2rem;
  padding-left: 2rem;
}

.hero-container button {
  padding: 1rem 1.5rem;
  border: none;
  background-color: var(--clr-gold);
  font-weight: 600;
  border-radius: 5px;
  font-size: 1rem
}
